.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 50px;
  color: white;
  /* font-weight: bold;  */
}

/* form {
  font-weight: bold; 
  text-align: center;
  padding:10px 90px 15px 140px; 


} */


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

